header h1 {
            color: aqua;
             
}
/* 
a {
    text-decoration: none;
}

nav a{
    color: black;
    font-weight: bold;
}

nav a:hover{
    color: blue;
    font-weight: bold;
}
.detail-info {
    color: red;
}

.hayu {
    color: blue;
} */